@import url('https://fonts.googleapis.com/css?family=Playpen+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set the base colors */
  :root {
    --secondary-color: #fdf0c8;
    --primary-color: #b2e2ec;
    --tertiary-color: #ffcf16;
    --duck-color: #ffcf16;
    --text-color: #333;
    --light-gray-color: #ccc;
    --dark-gray-color: #000000;
  }
  
  /* Set the background color for the whole page */
  body {
    background-color: var(--secondary-color);
    font-family: Rubik, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Header styles */
  .header-container {
    font-family: 'Playpen Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .logo-img {
    height: 80px;
  }
  
  .title-container {
    margin-left: 20px;
  }
  
  .title-container h1 {
    font-size: xx-large;
    color: var(--text-color);

  }
  
  .title-container a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .subtitle {
    font-size: 16px;
    color: var(--dark-gray-color);
  }
  
  /* Main content styles */
  main {
    background-color: white;
    width: 95%;
    margin: auto;
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    line-height: 1.4;
  }
  
  .description h2 {
    color: var(--duck-color);
    margin-bottom: 1em;
  }
  
  /* Password generator styles */
  .password-generator {
    margin-top: 20px;
  }
  
  label,
  #quantity {
    width: 50px; /* Adjust the width as needed */
    padding: 5px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    font-size: 16px;
    margin-top: 1em;
  }
  
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--light-gray-color);
    border-radius: 5px;
    margin-bottom: 1em;
  }
  
  button {
    background-color: var(--duck-color);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: --tertiary-color;
  }
  
  .password-box {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    font-size:xx-large;
    margin-top: 1em;
  }
  
  /* Footer styles */
  footer {
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Footer hyperlink text color */
  footer a {
    color: var(--text-color); 
  }

  /* Toast styles */
.toast {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    font-size: large;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* Show the toast when needed using JavaScript */
.show-toast {
    display: block;
}
